article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) {
    overflow: hidden;
}

figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

legend { border: 0; *margin-left: -7px; padding: 0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   @Fontface Fonts
   ========================================================================== */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 14, 2011 */



@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaExtraCondensedThin';
    src: url('proxima_nova_excn_thin-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaExtraCondensedThin';
    src: url(//:) format('no404'), url('proxima_nova_excn_thin-webfont.woff') format('woff'), url('proxima_nova_excn_thin-webfont.ttf') format('truetype'), url('proxima_nova_excn_thin-webfont.svg#ProximaNovaExtraCondensedThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'PillGothic600mgRegular';
    src: url('pill_gothic_600mg_regular-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'PillGothic600mgRegular';
    src: url(//:) format('no404'), url('pill_gothic_600mg_regular-webfont.woff') format('woff'), url('pill_gothic_600mg_regular-webfont.ttf') format('truetype'), url('pill_gothic_600mg_regular-webfont.svg#PillGothic600mgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'PoliticaThinRegular';
    src: url('politica_thin-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'PoliticaThinRegular';
    src: url(//:) format('no404'), url('politica_thin-webfont.woff') format('woff'), url('politica_thin-webfont.ttf') format('truetype'), url('politica_thin-webfont.svg#PoliticaThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'PillGothic600mgLightObq';
    src: url('pillgothic600mg-lightobq-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'PillGothic600mgLightObq';
    src: url(//:) format('no404'), url('pillgothic600mg-lightobq-webfont.woff') format('woff'), url('pillgothic600mg-lightobq-webfont.ttf') format('truetype'), url('pillgothic600mg-lightobq-webfont.svg#PillGothic600mgLightObq') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaRegularItalic';
    src: url('proxima_nova_reg_it-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaRegularItalic';
    src: url(//:) format('no404'), url('proxima_nova_reg_it-webfont.woff') format('woff'), url('proxima_nova_reg_it-webfont.ttf') format('truetype'), url('proxima_nova_reg_it-webfont.svg#ProximaNovaRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaLight';
    src: url('proxima_nova_light-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaLight';
    src: url(//:) format('no404'), url('proxima_nova_light-webfont.woff') format('woff'), url('proxima_nova_light-webfont.ttf') format('truetype'), url('proxima_nova_light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaThin';
    src: url('proxima_nova_thin-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaThin';
    src: url(//:) format('no404'), url('proxima_nova_thin-webfont.woff') format('woff'), url('proxima_nova_thin-webfont.ttf') format('truetype'), url('proxima_nova_thin-webfont.svg#ProximaNovaThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaRegular';
    src: url('proxima_nova_reg-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaRegular';
    src: url(//:) format('no404'), url('proxima_nova_reg-webfont.woff') format('woff'), url('proxima_nova_reg-webfont.ttf') format('truetype'), url('proxima_nova_reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaExtraCondensedThin';
    src: url('proxima_nova_excn_thin-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaExtraCondensedThin';
    src: url(//:) format('no404'), url('proxima_nova_excn_thin-webfont.woff') format('woff'), url('proxima_nova_excn_thin-webfont.ttf') format('truetype'), url('proxima_nova_excn_thin-webfont.svg#ProximaNovaExtraCondensedThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaExtraCondensedThIt';
    src: url('proxima_nova_excn_thin_it-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaExtraCondensedThIt';
    src: url(//:) format('no404'), url('proxima_nova_excn_thin_it-webfont.woff') format('woff'), url('proxima_nova_excn_thin_it-webfont.ttf') format('truetype'), url('proxima_nova_excn_thin_it-webfont.svg#ProximaNovaExtraCondensedThIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaExtraCondensedRg';
    src: url('proxima_nova_excn_reg-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaExtraCondensedRg';
    src: url(//:) format('no404'), url('proxima_nova_excn_reg-webfont.woff') format('woff'), url('proxima_nova_excn_reg-webfont.ttf') format('truetype'), url('proxima_nova_excn_reg-webfont.svg#ProximaNovaExtraCondensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'ProximaNovaExtraCondensedBdIt';
    src: url('proxima_nova_excn_bold_it-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'ProximaNovaExtraCondensedBdIt';
    src: url(//:) format('no404'), url('proxima_nova_excn_bold_it-webfont.woff') format('woff'), url('proxima_nova_excn_bold_it-webfont.ttf') format('truetype'), url('proxima_nova_excn_bold_it-webfont.svg#ProximaNovaExtraCondensedBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'PoliticaRegular';
    src: url('politica-regular-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'PoliticaRegular';
    src: url(//:) format('no404'), url('politica-regular-webfont.woff') format('woff'), url('politica-regular-webfont.ttf') format('truetype'), url('politica-regular-webfont.svg#PoliticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'PoliticaBold';
    src: url('politica-bold-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'PoliticaBold';
    src: url(//:) format('no404'), url('politica-bold-webfont.woff') format('woff'), url('politica-bold-webfont.ttf') format('truetype'), url('politica-bold-webfont.svg#PoliticaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* =============================================================================
   Primary styles
   Author: Tony Brown
================================================================================ */

body {
	background: #ffffff url(../img/body-bg.jpg)repeat-x;
}
.center {
	position: relative;
	overflow: hidden;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.slider {
	width: 960px;
	height: 440px;
	margin: 0 auto;
	background-color: #ffffff;
}
#main {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 40px auto 40px auto;
}
a { text-decoration: none; padding: 0; margin: 0;}
ul { list-style: none; padding:0; margin:0;} 
li { list-style: none; padding:0; margin:0;}
img {padding:0; margin: 0; border: none;}
/* =============================================================================
   Header styles
   Author: Tony Brown
========================================================================== */
header {
	position: relative;
	overflow: hidden;
	width: 960px;
	height: 200px;
}
header h1 {
	font-family: 'ProximaNovaThin', sans-serif;
	font-size: 36px;
	font-weight: 100;
	text-transform: uppercase;
	color: #1d1802;
	float: left;
	clear: both;
	padding: 0;
	margin: 70px 0 10px 0;
}
header h2 {
	font-family: 'ProximaNovaThin', sans-serif;
	font-size: 11px;
	font-weight: 100;
	text-transform: uppercase;
	color: #6b5a17;
	float: left;
	clear: both;
	padding: 0;
	margin:  0 0 0 233px;
}
#main p {
	font-family: 'PillGothic600mgRegular', sans-serif;
	font-size: 14px;
	color: #676767;
}

/* =============================================================================
   Navigation styles
   Author: Tony Brown
========================================================================== */
header nav {
	position: relative;
	float: right;
	clear: both;
	padding: 0;
	margin: -51px 0 30px 90px;
}
header nav li {
	display: inline-block;
	padding-left: 20px;
	margin-right: 20px;
}
header nav li a {
	font-family: 'ProximaNovaRegular', sans-serif;
	font-weight: normal;
	font-size:18px;
	letter-spacing: 1px;
	color: #6b5a17;
	text-transform: capitalize;
}
	.active a {border-bottom: 1px solid #191919; padding-bottom: 5px; color: #191919;cursor: default;}
	header nav a:hover {border-bottom: 1px dashed #ccc; padding-bottom: 5px; color: #ccc;}
/* =============================================================================
	  Posts styles
	  Author: Tony Brown
========================================================================== */
.blog-style {
	position: relative;
	width: 670px;
	float: left;
	padding: 10px 0;
	margin: 70px 0 30px 0;	
	-webkit-box-shadow: 3px -1px 5px 1px rgba(49,39,8,.3);
	-moz-box-shadow: 3px -1px 5px 1px rgba(49,39,8,.3);
	box-shadow: 3px -1px 5px 1px rgba(49,35,8,.3);
	color: #676767;
}
.posts article {
	position: relative;
	float: left;
	clear: both;
	margin: 10px 0 40px 5px;
}
.posts h1 {
	float: left;
	clear: both;
	font-family:'PoliticaThinRegular',sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
	color: #686868;
	margin:-77px 0 30px 5px;
}

.main-image {
	padding: 0;
	margin:-25px 0 0 0;
}
.posts article h2 a {
	float: left;
	clear: both;
	font-family:'PoliticaThinRegular',sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
	color: #686868;
}
.posts article p {
	width: 600px;
	float: left;
	clear: both;
	font-family:'PillGothic600mgRegular', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .135em;
}
.posts article h5 {
	float: left;
	clear: both;
	font-family: 'ProximaNovaRegular', sans-serif;
	font-size: 14px;
	color: #a7a7a7;
	letter-spacing" 1px
	padding: 15px 0 20px 0;
	margin: 30px 0 20px 0;
}
	.posts article a.right-indent {
		float:right;
		clear: both;
		font-family: 'ProximaNovaRegular', sans-serif;
		font-size: 12px;
		color: #a7a7a7;
		letter-spacing" 1px
		padding: 0 230px 20px 230px;
		margin: 0 0 20px 230px;
	}
	.border-top {
		width:640px;
		height: 1px;
		border-top: 1px solid #aaa;
		float: left;
		clear: both;
		padding: 0;
		margin: 20px 0 -20px 0;
	}
	.border-bottom {
		width:640px;
		height: 1px;
		border-top: 1px solid #aaa;
		float: left;
		clear: both;
		padding: 0;
		margin: -25px 0 0 0;
	}
.read {
	font-family:'ProximaNovaRegularItalic',sans-serif;
	font-size: 16px;

	letter-spacing: 1px;
	color: #a7a7a7;
	float: left;
	clear: both;
	margin: 0 0 30px 0;
}
.special {
	font-family: 'PoliticaRegular', sans-serif;
	font-size: 28px;
	color:#a7a7a7;
	letter-spacing: 1px;
	
	
}
/* =============================================================================
	  Sidebar styles
	  Author: Tony Brown
========================================================================== */
aside {
	position: relative;
	overflow: hidden;
	width: 270px;
	float: right;
	padding: 10px 0 15px 10px;
	margin: 50px 0 30px 10px;
	color: #676767;
}

aside article h2 {
	font-family:'PoliticaThinRegular', sans-serif;
	font-size: 24px;
	color: #463b11;
	float: left;
	clear: both;
	padding: 0;
	margin: 10px 20px 30px 0;
}
aside article ul {
	position: relative;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
aside article ul li {
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
}
aside article.comments ul {
	position: relative;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
aside article.comments ul li{
	background: url(../img/comment.png)no-repeat 1px 8px;
	padding: 5px;
	margin: 0 0 20px 0;
}
	aside article.comments ul li p {
		margin: 0 0 0 25px;
	}
.comment-box {
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/comment.png)no-repeat 0 0;
}
.categories {
	position: relative;
	overflow: hidden;
	float: left;
	clear: both;
}
	.categories ul {padding: 0; margin: 0;}
	.categories ul li {
		padding: 0 0 10px 0; 
		margin: 0 0 20px 10px;
		width: 270px;
		border-bottom: 1px solid #999999;
		padding-right: 330px;
		background: url(../img/pointer.png)no-repeat  -12px -9px;
	}
	.categories a h4 {
		font-family: 'PillGothic600mgRegular', sans-serif;
		font-size: 15px;
		font-weight: 100;
		color: #554b21;
		padding: 0;
		margin: 0 0 0 15px;	
	}
	li.fb-img {
		margin: 0;
		padding:0;
		float: left;
		clear: right;
		margin: 5px 5px;
		
	}
	img.fb-img {
		padding:2px;
		-webkit-box-shadow: 0 0 1px #a2a2a2;
		-moz-box-shadow: 0 0 1px #a2a2a2;
		box-shadow: 0 0 1px #a2a2a2;
	}
	 
/* =============================================================================
		 Sidebar Form styles
		 Author: Tony Brown
========================================================================== */
aside form.sidebar {
	position: relative;
	overflow: hidden;
	float: left;
	width: 270px;
}
	aside form button {
		float: right;
		clear: both;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-align: left;
		cursor: pointer;
		background: #575757;
		color: #f9f9f9;
		font-size: 12px;
		text-shadow: 0 -1px 0 #1b1a1a;
		padding: 4px 8px;
		border: 1px solid #1b1a1a;
		margin: -54px 0 0 130px;
	
	}
	aside form p label {
		position: relative;
		float: left;
		clear: both;
		font-family:'PillGothic600mgRegular', sans serif;
		font-size: 12px;
		color: #555;
		padding: 0;
		margin: 0;
	}
	aside form input[type=text] {
		float: left;
		clear: both;
		width: 165px; 
		height: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin: -19px 0 30px 40px;
		background: #f9f9f9;
		color: #4f4f4f;
		
	}
	aside form input:hover, aside button:hover,aside input:focus, aside button:focus {
		-webkit-box-shadow: 0 0 2px #4f4f4f;
		-moz-box-shadow: 0 0 2px #4f4f4f;
		box-shadow: 0 0 2px #4f4f4f;
	}
/* =============================================================================
	Single Page styles
	Author: Tony Brown
========================================================================== */
.slider-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background: #181818;
	margin: -7px auto;
	color: #333333;
}
.slider {
	position: relative;
	overflow: hidden;
	padding: 0;
	background: #f9f9f9;
	margin: 25px auto 0;
}

.thirds {
	position: relative;
	float: left;
	width: 310px;
	overflow: hidden;
	padding: 0;
	margin: 0 0 50px 0;
}

article.thirds h1 {
	font-family:'PoliticaThinRegular', sans-serif;
	float: left;
	width: 237px;
	font-size: 37px;
	line-height: 48px;
	color: #000;
}
article.thirds h2 {
	float: left;
	font-family:'PoliticaThinRegular', sans-serif;
	font-size: 27px;
	color: #000;
	padding: 0;
	margin: 10px 0 30px 0;
}
article.thirds p {
	text-align: left;
	float: left;
	width: 270px;
	font-family:'PillGothic600mgRegular', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	padding: 0;
	margin: 5px 0 20px 0;
}
article.thirds img.portfolio {
	border: 7px solid #f9f9f9;
}

section article.plan {
	position: relative;
	overflow: hidden;
	width: 230px;
	float: left;
	padding: 0;
	margin: 0 2px 10px 0;
}
section article.plan h1 {
	position: relative;
	float: left;
	clear: both;
	font-family: 'PoliticaBold', sans-serif;
	font-size:30px;
	line-height: 48px;
	color: #676767;
	text-transform: uppercase;
	padding: 0;
	margin: 50px 0 0 55px;
}
section article.plan img {
	float: left;
	clear: both;
	padding: 0;
	margin: -100px 0 20px 0;
}
	section article:last-child {
		margin-right: 0px;
	}
section article.plan img.launch {
		margin: -120px 0 30px 0;
	}
p.launch {
	padding: 0;
	margin: -17px 0 15px 0;
}
#main article p.plan {
	width: 200px;
	float: left;
	line-height: 18px;
	letter-spacing: 1px;
}


/*========================================================================
	Skill Content
	
=========================================================================*/
.about {
	position: relative;
	overflow: hidden;
	width: 500px;
	float: left;
	clear: both;
}

 .about p {
 	font-family: 'PillGothic600mg', georgia, serif;
 	color: #676767;
 	font-size: 14px;
 	line-height: 18px;
	text-shadow: 0 -1px 0 #f9f9f9;
 	margin: 5px 30px 30px 0;
 	padding: 5px;
 }
.skill-list {
	width: 300px;
	float: left;
	clear: both;
}
	.skill-list li {
		border-top: 1px dotted #676767;
		border-bottom: 1px dotted #676767;
	}
	.skill-list a {
		color: #676767;
	}
.para {text-indent: 30px;}

.skill-content {
	width: 270px;
	height: 500px; 
	background: #181818;
	position: relative;
	float: right;
	clear: both;
	font-size: 14px;
	line-height: 18px;
	color: #2187e7;
	border-radius: 10px;
	padding: 33px 40px 30px;
	margin: -715px 0 0 0;

}

.col { width: 280px; position: absolute;}
.col h3 {
	font-family: 'PoliticaBold', sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #f3f3f3;
	text-transform: uppercase;
	margin: -15px 130px 20px 0;
}

#skill {
	list-style: none;
	padding-top: 30px;
	text-align: left;
}
	#skill li {
		margin-bottom: 70px;
		background: #111;
		height: 5px;
		border-radius: 7px;
		border-left: 1px solid #111;
		border-top: 1px solid #111;
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
	}
		#skill li em {
			position: relative;
			top: -30px;
			font-family: 'PoliticaBold', sans-serif;
			font-size: 16px;
			line-height: 30px;
			color: ##2187E7;
			text-transform: uppercase;
		}
		.expand {
			height: 1px;
			margin: 2px 0;
			background: #e4008e;
			position: absolute;
			box-shadow: 0px 0px 10px 1px rgba(236,0,140, 0.4);
		}
		
.html5 { width: 67%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }
.css3  { width: 65%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }
.j     { width: 45%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }
.jquery{ width: 55%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }
.php   { width: 55%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }
.sql   { width: 55%; -moz-animation:html5 3s ease-out;   -webkit-animation: html5 3s ease-out;  }

@-moz-keyframes html5  { 0% { width: 0%;} 100%{ width: 60%;} }
@-moz-keyframes css3   { 0% { width: 0%;} 100%{ width: 60%;} }
@-moz-keyframes js 	   { 0% { width: 0%;} 100%{ width: 50%;} }
@-moz-keyframes jquery { 0% { width: 0%;} 100%{ width: 55%;} }
@-moz-keyframes php    { 0% { width: 0%;} 100%{ width: 45%;} }
@-moz-keyframes sql    { 0% { width: 0%;} 100%{ width: 40%;} }

@-webkit-keyframes html5  { 0% { width: 0%;} 100%{ width: 60%;} }
@-webkit-keyframes css3   { 0% { width: 0%;} 100%{ width: 60%;} }
@-webkit-keyframes js 	  { 0% { width: 0%;} 100%{ width: 50%;} }
@-webkit-keyframes jquery { 0% { width: 0%;} 100%{ width: 55%;} }
@-webkit-keyframes php    { 0% { width: 0%;} 100%{ width: 45%;} }
@-webkit-keyframes sql    { 0% { width: 0%;} 100%{ width: 40%;} }

/* =============================================================================
		 Sidebar Form styles
		 Author: Tony Brown
========================================================================== */
.footer-wrap {
	position:relative;
	width: 100%;
	background: #191919;
	padding: 0;
	margin: 10px auto;
}
.footer-col {
	overflow: hidden;
	position: relative;
	width: 300px;
	float: left;
	clear: right;
	padding: 2px;
	margin: 20px 15px 30px 0;
	font-family: 'PoliticaRegular', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: #f9f9f9;
}
footer h3 {
	font-family:'ProximaNovaExtraCondensedThin', sans-serif;
	font-size: 30px;
	color: #f3f3f3;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 #000000;
	padding: 0 0 10px 0;
	margin: 10px 0 20px 0;
}
footer section.recent-projects h5 {
	font-family: 'PoliticaRegular', sans-serif;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 1px;
	padding: 15px;
	color: #f9f9f9;
	padding: 0;
	margin:  0;
}
footer section ul li {
	display: block;
	overflow: hidden;
	border-top: 1px solid #494949;
	border-bottom: 1px solid #000000;
	padding: 15px 0;
}
	footer section > ul li:first-child {
		border-top: none;
		padding-top: 10px;
	}
	footer section > ul li:last-child {
		border-bottom: none;
		padding-bottom: 10px;
	}
footer section p {
	font-family:'PillGothic600mgRegular', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	padding: 0;
	color: #f9f9f9;
	text-shadow: 0 -1px 0 #000;
	margin: 0;
}

footer section.recent-projects img {
	float: left;
	clear: both;
	padding: 5px 10px 5px 0;
	margin: -5px 0 5px 0;
}

footer section p.foot-meta {
	color: #fffbb7;
}
footer section span.foot-meta {
	color: #ffde77;
}
/* =============================================================================
		 Footer Form styles
		 Author: Tony Brown
========================================================================== */

.footer-wrap footer button, input, textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
	cursor: pointer;
	background: ##575757;
	border: 1px solid #181818;
}
.footer-wrap footer section button {
	color: #f9f9f9;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 -1px 0 #181818;
	padding: 4px 8px;
	text-transform: uppercase;
}

footer button { 
	float: right;
	clear: both;
	padding: 0; 
	margin: 0;
	background:#222121;
}

.footer-wrap footer input, .footer-wrap footer textarea {
	background: #eee;
	border: 1px solid #101010;
	*border: none;
	padding: 7px;
	background: #141414;
	background: -webkit-gradient(linear, left top, left bottom, from
		(#141414), to(#FF0000));
	background: -webkit-linear-gradient(top, #141414, #181818);
	background: -moz-linear-gradient(top, #141414, #181818);
	background: linear-gradient(top, #141414, #181818);
	color:#f3f3f3;
	text-shadow: 0 -1px 0 #000;
	margin-bottom: 15px;
}

.footer-wrap footer textarea, #time {
	width: 280px;
}
.footer-wrap footer textarea {
	height: 200px;
}
.footer-wrap input:hover, .footer-wrap textarea:hover, .footer-wrap button:hover,.footer-wrap input:focus, .footer-wrap textarea:focus, .footer-wrap button:focus {
	-webkit-box-shadow: 0 0 2px #f3f3f3;
	-moz-box-shadow: 0 0 2px #f3f3f3;
	box-shadow: 0 0 2px #f3f3f3;
}

.footer-wrap footer button:hover {
	background: #f3f3f3;
	color: #131313;
}
footer section input[type=text] {
	float: left;
	clear: both;
	width: 224px; 
	margin-right: 5px;
}

.twitter-section span {
	color: #fffbb7;
}
.twitter-section span a, footer section a {
	color: #ffde77;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
